// Alert Messag的背景色
.ant-message-notice-content {
    background: $message-content-bg;
    color: $message-content-text-color;
    font-size: $message-content-text-size;
    border-radius: 8px;
    height: 42px;
}

.ant-message-custom-content.ant-message-error {
    display: flex;
    align-items: center;
}

.ant-message-custom-content {
    color: #fff;
    font-size: $message-content-text-size;
    font-weight: 400;
}

.ant-message .anticon {
    position: unset;
}

.ant-message{
    top: 100px !important;
}

// 修改success icon
.ant-message-success{
    background-image: url('../images/success.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position-y: 20%;
    padding-left: 30px;
    i{
        display: none;
    }
}
// 修改error icon
.ant-message-error{
    background-image: url('../images/error.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position-y: 20%;
    padding-left: 30px;
    i{
        display: none;
    }
}
// 修改warning icon
.ant-message-warning{
    background-image: url('../images/warning.svg');
    background-repeat: no-repeat;
    background-size: 22px;
    background-position-y: 20%;
    padding-left: 30px;
    i{
        display: none;
    }
}